[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"

[packages]
aocs = {editable = true,version = "*"}
advent-of-code-data = "*"
numpy = "*"

[requires]
python_version = "3.8"
